The cell below contains examples of how to declare different primitive data types in Python.

In [ ]:
variable1 = 10
variable2 = 3.14
variable3 = True # False
variable4 = "this is a string"
variable5 = 'this is another string'
variable6 = """this is a
multiline string"""
variable7 = '''this is another
multiline string'''
variable8 = f"this is a string where I can insert a value, {variable2}"
variable9 = None

In [ ]:
print(variable6)

this is a
multiline string

In [ ]:
print(variable8)

this is a string where I can insert a value, 3.14

In [ ]:
li = [10, 12, 15.4, variable1, variable2, variable3]
li[0], li[3]

(10, 10)

In [ ]:
li[3] = variable5
li

[10, 12, 15.4, 'this is another string', 3.14, True]

In [ ]:
ti = (10, 12, 15.4, variable1)
ti

(10, 12, 15.4, 10)

In [ ]:
ti[3]

10

In [ ]:
li2 = li
li2[0] = -1
li2, li

([-1, 12, 15.4, 'this is another string', 3.14, True],
 [-1, 12, 15.4, 'this is another string', 3.14, True])

In [ ]:
li2 = list(li)
li2[0] = -1
li2, li

([-1, 12, 15.4, 'this is another string', 3.14, True],
 [-1, 12, 15.4, 'this is another string', 3.14, True])

In [ ]:
s1 = set([1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 4])
s1

{1, 2, 3, 4}

In [ ]:
s2 = set([1, 1, 2, 2, 10, 10])
s2

{1, 2, 10}

In [ ]:
s1.difference(s2)

{3, 4}

In [ ]:
s1.intersection(s2)

{1, 2}

In [ ]:
s1.union(s2)

{1, 2, 3, 4, 10}

In [ ]:
d1 = {
    "value1": 10,
    "value2": [1, 2, 3, 4],
    "value3": s1,
    "value4": {
        "value5": s2
    }
}
d1

{'value1': 10,
 'value2': [1, 2, 3, 4],
 'value3': {1, 2, 3, 4},
 'value4': {'value5': {1, 2, 10}}}

In [ ]:
d1["value1"]

10

In [ ]:
d1["value1"] = 20
d1

{'value1': 20,
 'value2': [1, 2, 3, 4],
 'value3': {1, 2, 3, 4},
 'value4': {'value5': {1, 2, 10}}}

In [ ]:
d1["value2"]

[1, 2, 3, 4]

In [ ]:
d1["value2"][1]

2

In [ ]:
li3 = [
    {
        "value1": 10,
        "value2": 20
    },
    {
        "value1": 15,
        "value2": 25
    }
]
li3

[{'value1': 10, 'value2': 20}, {'value1': 15, 'value2': 25}]

In [ ]:
li3[0]["value1"]

10

In [ ]:
# if condition1:
#   ...
# elif condition2:
#   ...
# else:
#   ...

# for iterated_value in interator:
#   ...

# while condition:
#   ...

# def function_name(param1, param2, param3=10):
#   body of the function
#   return value

# def function_name(*argv, **kwargs):
#   body
#   return value

In [ ]:
def average(*argv):
  if len(argv) == 0:
    return None

  avg = 0
  for value in argv:
    avg = avg + value
  avg = avg / len(argv)
  return avg

average(1, 2), average(1, 3, 4, 5, 6, 7, 8, 9, 2, 2,), average()

(1.5, 4.7, None)

In [ ]:
def concatenate_strings(**kwargs):
  values = kwargs.values()
  result = "".join(values)
  return result

concatenate_strings(first="abc", second="def", third="ghi")

'abcdefghi'

In [ ]:
def sum(a, b):
  return a + b

sum(10, 10)

20

In [ ]:
sum(a=10, b=10)

20

In [ ]:
sum(b=20, a=20)

40

In [ ]:
# create a program that
# 1. finds out how many elements are duplicated in a table
# 2. computes the average value for a givent column
# 3. finds out how many elements are None in a given column of a table
# 4. replaces None elements for a given column with -1

data = [
    [1, 2, 3, None, 5],
    [5, None, 3, None, 1],
    [4, 4, 4, 3, None],
    [4, 4, 3, 3, None],
    [None, 2, 3, 1, None]
  ]
data

[[1, 2, 3, None, 5],
 [5, None, 3, None, 1],
 [4, 4, 4, 3, None],
 [4, 4, 3, 3, None],
 [None, 2, 3, 1, None]]

In [ ]:
def count_nones(input, column_index=0):
  n_nones = 0
  n_rows = len(input)
  n_cols = len(input[0])

  if n_cols-1 < column_index:
    raise Exception("Invalid column index.")

  for row in input:
    if row[column_index] is None:
      n_nones = n_nones + 1
  return n_nones

count_nones(data, 2), count_nones(data, 0)

(0, 1)

In [ ]:
def replace_nones(input, column_index):
  n_rows = len(input)

  for i in range(n_rows):
    if input[i][column_index] is None:
      input[i][column_index] = -1

  return input

In [ ]:
def column_average(input, column_index):
  n_rows = len(input)
  avg = 0
  for row in input:
    avg += row[column_index]
  avg = avg / n_rows
  return avg

In [ ]:
data = [
    [None, 2, 3, None, 5],
    [5, None, None, None, 1],
    [4, 4, 4, 3, None],
    [4, 4, 3, 3, None],
    [None, 2, 3, 1, None]
  ]

data = replace_nones(data, 2)
data = replace_nones(data, 0)
column_average(data, 2), column_average(data, 0)

(2.4, 2.2)

In [ ]:
class TableProcessor:
  def __init__(self, data):
    self.n_rows = len(data)
    self.table = []

    if self.n_rows != 0:
      for row in data:
        self.table.append(list(row))

      self.n_cols = len(self.table[0])
    else:
      self.n_cols = 0

  def count_nones(self, column_index=0):
    n_nones = 0

    if self.n_cols-1 < column_index:
      raise Exception("Invalid column index.")

    for row in self.table:
      if row[column_index] is None:
        n_nones = n_nones + 1
    return n_nones

  def replace_nones(self, column_index=0):
    for i in range(self.n_rows):
      if self.table[i][column_index] is None:
        self.table[i][column_index] = -1

  def column_average(self, column_index=0):
    avg = 0
    for row in self.table:
      avg += row[column_index]
    avg = avg / self.n_rows
    return avg

In [ ]:
processor = TableProcessor(data)
processor.n_rows, processor.n_cols

(5, 5)

In [ ]:
for i in range(processor.n_cols):
  n_nones = processor.count_nones(column_index=i)
  print(f"Column {i} has {n_nones} None values.")

Column 0 has 0 None values.
Column 1 has 1 None values.
Column 2 has 0 None values.
Column 3 has 2 None values.
Column 4 has 3 None values.

In [ ]:
for i in range(processor.n_cols):
  processor.replace_nones(column_index=i)
  avg = processor.column_average(column_index=i)
  print(f"Column {i} average = {avg}")

Column 0 average = 2.2
Column 1 average = 2.2
Column 2 average = 2.4
Column 3 average = 1.0
Column 4 average = 0.6

In [ ]:
class EnhancedTableProcessor(TableProcessor):
  def __init__(self, data):
    super().__init__(data)
    self.nones_per_column = []
    self.avg_per_column = []

  def count_nones_per_column(self):
    self.nones_per_column = []
    for i in range(self.n_cols):
      n_nones = self.count_nones(column_index=i)
      self.nones_per_column.append(n_nones)

  def compute_avg_per_column(self):
    for i in range(self.n_cols):
      self.replace_nones(column_index=i)
      avg = self.column_average(column_index=i)
      self.avg_per_column.append(avg)

In [ ]:
processor.table

[[-1, 2, 3, -1, 5],
 [5, -1, -1, -1, 1],
 [4, 4, 4, 3, -1],
 [4, 4, 3, 3, -1],
 [-1, 2, 3, 1, -1]]

In [ ]:
# data = [
#     [1, None, 2, 3, None, 5],
#     [1, 5, None, None, None, 1],
#     [1, 4, 4, 4, 3, None],
#     [1, 4, 4, 3, 3, None],
#     [1, None, 2, 3, 1, None]
#   ]

enhanced_processor = EnhancedTableProcessor(data)
enhanced_processor.count_nones_per_column()
enhanced_processor.compute_avg_per_column()
enhanced_processor.nones_per_column, enhanced_processor.avg_per_column

([0, 1, 0, 2, 3], [2.2, 2.2, 2.4, 1.0, 0.6])